/* 6.0 - only fixes */
/* content area */
/* workaround for various ie float bugs */
#column-content {


}
#column-content #content {


}
#column-one {
    z-index: 4;
}

#portal-personaltools {
    padding-bottom: 0.1em;
}
#bodyContent a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}

/* show the hand */
#p-logo a,
#p-logo a:hover {
    cursor: pointer;
}
div.visualClear {
    width:100%;
    line-height: 0;
}
textarea {
    width: 96%;
}

div.editsection,
#catlinks,
div.tright,
div.tleft {
    position: relative;
}

/* bug 12846 */
body.rtl #preftoc a, body.rtl #preftoc a:active {
    float: left;
}
